
antares-[0-9].[0-9]-*

.*.sw[a-z]
*~
CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
*.sln
*.rc
*.cbp
src/ipch
src/x64
src/win32
Debug
Release

# Visual Studio
*.vcxproj
*.cproject
*.project
*.filters
*.user
*.suo
*.sdf
*.opensdf
*.dir
*.cbp
*.layout
src/.vs

resources/antares-open*
bin/debug
bin/release

src/DartConfiguration.tcl
src/config.h

# Yuni
src/ext/yuni/src/ProfileBuild.cmake
src/ext/yuni/src/yuni/config.h
src/ext/yuni/src/yuni/platform.h
src/ext/yuni/src/yuni/yuni.config.*
src/ext/yuni/src/yuni/yuni.version
src/ext/yuni/src/build
src/ext/yuni/src/samples
src/ext/yuni/docs/*
src/ext/yuni/nany/*
src/ext/yuni/src/compiler-flags-*

src/ext/v8

src/tests/resources/batches/*

src/ui/simulator/resources/win32/manifest.antares-win32.manifest
src/ui/simulator/ProxyConnexionParameters.txt

src/distrib/win32/version.nsh
src/distrib/win32/build.nsh
src/distrib/win32/rte-antares-*-installer-*.exe
src/distrib/win32/rte-antares-*-installer-*.zip
src/distrib/win32/readme.txt
src/distrib/win32/make-zip-from-installer.bat
src/distrib/unix/packages.sh
src/distrib/unix/rpm/pkginfo-*
src/distrib/unix/rpm/*.rpm
src/distrib/changelog.txt

src/license/keys/rsakey2code
src/script/v8/libs/*
/src/antares.VC.VC.opendb
/src/antares.VC.db

_build*
buildDebian
.vscode/
*.dll
.idea/

# pytest
__pycache__
venv/
