[submodule "src/antares-deps"]
	path = src/antares-deps
	url = https://github.com/AntaresSimulatorTeam/antares-deps.git
	branch = v2.0.2b
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
