name: Build Userguide pdf

on:
  workflow_call:
    inputs:
      artifact_name:
        required: true
        type: string

jobs:

  build:

    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements-doc.txt

    - name: Install libraries
      run: |
           sudo apt-get update --fix-missing
           sudo apt-get install latexmk texlive-latex-recommended texlive-formats-extra

    - id: create-user-guide
      name: user guide pdf creation
      uses: ./.github/workflows/generate-userguide-pdf

    - name: user guide upload
      uses: actions/upload-artifact@v3
      with:
        name: ${{ inputs.artifact_name }}
        path: ${{ steps.create-user-guide.outputs.pdf-path }}

