name: Create new release

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: "Target branch or full commit SHA"
        required: true
      release_tag:
        description: "Release tag"
        required: true
      release_name:
        description: "Release name"
        required: true
      run-tests:
        description: "Run all tests (true/false)"
        required: true
        type: string
      set_latest:
        description: "Set the release as latest"
        required: true
        type: boolean
jobs:
      release:
        name: Release pushed tag
        runs-on: ubuntu-20.04
        steps:
          - name: Create release
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              tag: ${{ github.event.inputs.release_tag }}
              title: ${{ github.event.inputs.release_name }}
              tests: ${{ github.event.inputs.run-tests }}
              target_branch: ${{ github.event.inputs.target_branch }}
              latest: ${{ github.event.inputs.set_latest }}
            run: |
              gh release create "$tag" \
                  --repo="$GITHUB_REPOSITORY" \
                  --title="$title" \
                  --notes="Run tests: $tests"\
                  --target="$target_branch" \
                  --latest=$latest


      ubuntu:
        name: Release - Ubuntu
        needs: release
        uses: ./.github/workflows/ubuntu.yml
        with:
          run-tests: ${{ inputs.run-tests }}
          target_branch: ${{ inputs.target_branch }}

      windows:
        name: Release - Windows
        needs: release
        uses: ./.github/workflows/windows-vcpkg.yml
        with:
          run-tests: ${{ inputs.run-tests }}
          target_branch: ${{ inputs.target_branch }}

      centos7:
        name: Release - centos7
        needs: release
        uses: ./.github/workflows/centos7.yml
        with:
          run-tests: ${{ inputs.run-tests }}
          target_branch: ${{ inputs.target_branch }}

      oracle8:
        name: Release - oracle8
        needs: release
        uses: ./.github/workflows/oracle8.yml
        with:
          run-tests: ${{ inputs.run-tests }}
          target_branch: ${{ inputs.target_branch }}

      user_guide:
        name: User Guide
        needs: release
        uses: ./.github/workflows/build-userguide.yml
        with:
          run-tests: ${{ inputs.run-tests }}
